<h1 class="title"><%= t('.title') %></h1>

<%= simple_form_for @user, url: profile_path, html: { class: 'form-horizontal' },
  defaults: { input_html: { class: 'form-control' },
              controls_html: { class: 'col-md-6' },
              label_html: { class: 'col-md-3 control-label' } } do |f| %>
  
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
