<div class="navigation">
  <ul class="nav nav-pills">
    <li>
      <%= link_to 'ENTRAR', login_path %>
    </li>
    <% unless deny_signup? %>
      <li>
        <%= link_to t('.sign_up'), signup_path %>
      </li>
    <% end %>
  </ul>
</div>

<h3 class="title">Mudar senha</h3>

<%= simple_form_for @user, url: reset_password_path(params[:id]),
  defaults: { input_html: { class: 'form-control' } } do |f| %>
  <%= f.input :password, label: false, placeholder: 'Nova senha' %>
  <%= f.input :password_confirmation, label: false, placeholder: 'Confirmação da senha' %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary', value: 'Enviar' %>
  </div>
<% end %>
