<%= form_for([@current_project, @repository]) do |f| %>
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :enable_autoupdate %><br />
    <%= f.check_box :enable_autoupdate %>
  </div>
  <div class="field">
    <%= f.label :autoupdate_login %><br />
    <%= f.text_field :autoupdate_login %>
  </div>
  <div class="field">
    <%= f.label :autoupdate_password %><br />
    <%= f.text_field :autoupdate_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
