<h1>Listing repositories</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Autoupdate Habilitado?</th>
    <th>Autoupdate login</th>
    <th>Autoupdate password</th>
    <th></th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= repository.url %></td>
    <td><%= repository.enable_autoupdate %></td>
    <td><%= repository.login %></td>
    <td><%= repository.password %></td>
    <td><%= link_to 'Show', [current_project, repository] %></td>
  </tr>
<% end %>
</table>

