<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @repository.url %>
</p>

<p>
  <b>Autoupdate</b>
  <%= @repository.enable_autoupdate ? 'ON' : 'OFF' %>
</p>

<p>
  <b>Login:</b>
  <%= @repository.login %>
</p>


<%= link_to t('back'), current_project %>
