
<h1><%= t('.auth_required') %></h1>
<%= simple_form_for :auth, url: [@project, @repository, :auth], method: :post, html: { class: 'form-horizontal' } do |f| %>
  <% render 'shared/form_errors', :f => f %>
  <%= f.input :login, label: t('.login') %>
  <%= f.input :pass, as: :password, label: t('.pass') %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', value: t('.submit') %>
  </div>
<% end %>
