<h1><%= t('title') %></h1>

<table class="table table-striped dblclick">
  <tr>
    <th><%= t('name', :scope => 'activerecord.attributes.project') %></th>
    <th><%= t('description', :scope => 'activerecord.attributes.project') %></th>
    <th colspan="2"><%= t('actions', :scope => 'application') %></th>
  </tr>

<% @projects.each do |project| %>
  <tr data-url="<%= url_for([:admin, project]) %>" style="cursor: pointer">
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= link_to t('edit', :scope => 'application'), edit_admin_project_path(project) %></td>
    <td><%= link_to t('destroy', :scope => 'application'),
                    [:admin, project], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('application.new_obj', :obj => t('activerecord.models.project')), new_admin_project_path %>
