<%= content_tag :h1, @project.name %>

<table class="table">
  <tr>
    <th>Nome</th>
    <td><%= @project.name %></td>
  </tr>

  <tr>
    <th>Descrição
    <td><%= @project.description %>
  </tr>

  <tr>
    <th>Integrantes</th>
    <td><%= @project.users.map{ |p| p.name.capitalize }.join(', ') %></td>
  </tr>
</table>


<%= link_to 'Repositorios', admin_project_repositories_path(@project) %> |
<%= link_to 'Editar', edit_admin_project_path(@project) %> |
<%= link_to 'Voltar', admin_projects_path %>
