<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <tr>
    <th><%= t('name', :scope => 'activerecord.attributes.project') %></th>
    <th><%= t('description', :scope => 'activerecord.attributes.project') %></th>
    <th><%= t('actions', :scope => 'application') %></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project %></td>
  </tr>
<% end %>
</table>
