<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <tr>
    <th><%= Project.human_attribute_name :name %></th>
    <th><%= Project.human_attribute_name :description %></th>
    <th><%= t('.repositories_count') %></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.description %></td>
    <td><%= project.repositories.count %></td>
  </tr>
<% end %>
</table>
