<%= content_tag :h1, @project.name %>

<table class="table">
  <tr>
    <th>Nome</th>
    <td><%= @project.name %></td>
  </tr>

  <tr>
    <th>Descrição
    <td><%= @project.description %>
  </tr>

  <tr>
    <th>Integrantes</th>
    <td><%= @project.users.map{ |p| p.name.capitalize }.join(', ') %></td>
  </tr>
</table>

<% if @project.repositories.any? %>
  <table class="table">
    <tr class="inverted" style="background: #333; color: white;">
      <th colspan="6" style="text-align: center;">Repositorios</th>
    </tr>

    <tr>
      <th>Nome</th>
      <th>Url</th>
      <th>Auto-update</th>
      <th>Versão</th>
      <th>Atualizar versão</th>
    </tr>

  <% @project.repositories.each do |repository| %>
    <tr>
      <td><%= link_to repository.name, edit_admin_project_repository_path(@project, repository), :title => 'Editar este repositório' %></td>
      <td><%= repository.url %></td>
      <td><%= repository.enable_autoupdate? ? 'OFF' : 'ON' %></td>
      <td><%= (revision = repository.revision) %></td>
      <td>
        <%= form_tag [@project, repository], :method => :put, class: "form-inline" do %>
          <%= hidden_field_tag 'back_url', request.path %>
          <%= select_tag 'repository[version]', options_for_version(repository, revision), :style => 'width: 55px' %>
          <%= submit_tag 'Ok', :class => 'btn' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= link_to 'Voltar', projects_path, :class => 'btn pull-right' %>

<% if can?('edit', 'project') %>
  <%= link_to 'Novo Repositorio', new_admin_project_repository_path(@project), :class => 'btn btn-success' %>
<% end %>
