<h1 class="title">
  <%= link_to t('.title'), admin_roles_path %>
  → <%= @role.name %>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">Adicionar permissão</div>
  <div class="panel-body">
    <%= form_tag include_permission_admin_role_path(@role) do %>
      <div class="row">
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">Permissão</span>
            <%= select_tag :permission_id, 
              options_for_select(@permissions.map {|p| [p.name, p.id, :'data-controller' => p.controller, :'data-actions' => p.actions] }),
              class: 'form-control'
            %>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
            <span class="input-group-addon">Controlador</span>
            <%= text_field_tag :controller, '', disabled: 'disabled', class: 'form-control' %>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
            <span class="input-group-addon">Ação</span>
            <%= text_field_tag :actions, '', disabled: 'disabled', class: 'form-control' %>
          </div>
        </div>
        <div class="col-lg-2">
          <%= button_tag 'Adicionar', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Cadastrar nova permissão</div>
  <div class="panel-body">
    <%= simple_form_for [:admin, @permission], url: save_permission_admin_role_path(@role),
      defaults: { input_html: { class: 'form-control' } } do |f| %>
      <div class="row">
        <div class="col-lg-4">
          <%= f.input :name, label: false, placeholder: 'Permissão' %>
        </div>
        <div class="col-lg-3">
          <%= f.input :controller, label: false, placeholder: 'Controlador' %>
        </div>
        <div class="col-lg-3">
          <%= f.input :actions, label: false, placeholder: 'Ação' %>
        </div>
        <div class="col-lg-2">
          <%= f.button :submit, value: 'Salvar', class: 'btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#permission_id').change(function() {
        $("#controller").val($(this).find('option:selected').data("controller"));
        $("#actions").val($(this).find('option:selected').data("actions"));
      });
    });
  </script>
<% end %>
