<h1><%= t('.title') %></h1>

<table class="table" id="roles">
  <% @roles.each do |role| %>
    <tr class="role-name">
      <th colspan="4">
        <b><%= role.name %></b>
        <%= role.description %>
        <div class="pull-right">
          <%= link_to(content_tag(:i, '', :class => 'icon-plus') +
                      ' Cadastrar nova permissão',
                      add_permission_admin_role_path(role),
                      :class => 'btn btn-mini') %>
        </div>
      </th>
    </tr>

    <% role.permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td><%= permission.controller %></td>
        <td><%= permission.actions %></td>
        <td>
          <%= form_tag remove_permission_admin_role_path(role, :permission_id => permission),
                       :style => 'display:inline; margin: 0;', :class => 'pull-right' do %>
            <%= button_tag content_tag(:i, '', :class => 'icon-minus'),
                           :class => 'btn btn-mini btn-danger hide',
                           :alt => t('.remove_permission'),
                           :confirm => t('.remove_permission_confirm') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>

</table>
