<h1>Configurações</h1>

<%= form_tag admin_settings_path,
             :class => 'form-horizontal' do %>

  <div class="control-group">
    <% s = Setting.find_or_default('login_method') %>
    <%= label_tag "setting[#{s.id}][name]", t(".#{s.name}"), :class => 'control-label' %>

    <div class='controls'>
      <%= hidden_field_tag "setting[#{s.id}][name]", s.name %>
      <%= select_tag "setting[#{s.id}][value]", options_for_select([[t('.ldap'), 'ldap'], [t('.system'), 'system']], s.value) %>
    </div>
  </div>

  <div class="control-group">
    <% s = Setting.find_or_default('default_role') %>
    <%= label_tag "setting[#{s.id}][name]", t(".#{s.name}"), :class => 'control-label' %>

    <div class='controls'>
      <%= hidden_field_tag "setting[#{s.id}][name]", s.name %>
      <%= select_tag "setting[#{s.id}][value]", options_for_select(
        Role.all.map{|r| [r.name, r.id]}, s.value) %>
    </div>
  </div>

  <div class="control-group">
    <% s = Setting.find_or_default('allow_register') %>
    <div class='controls'>
      <label class='checkbox'>
        <%= check_box_tag "setting[#{s.id}][value]", 'true', s.value == 'true' %>
        <%= t(".#{s.name}") %>
      </label>
      <%= hidden_field_tag "setting[#{s.id}][name]", s.name %>
      <%= hidden_field_tag "setting[#{s.id}][value]", 'false' %>
    </div>
  </div>

  <div class="control-group">
    <% s = Setting.find_or_default('block_ip') %>
    <div class='controls'>
      <label class='checkbox'>
        <%= check_box_tag "setting[#{s.id}][value]", 'true', s.value == 'true' %>
        <%= t(".#{s.name}") %>
      </label>
      <%= hidden_field_tag "setting[#{s.id}][name]", s.name %>
      <%= hidden_field_tag "setting[#{s.id}][value]", 'false' %>
    </div>
  </div>

  <div class="control-group">
    <% s = Setting.find_or_default('allow_cidr') %>
    <div class='controls'>
      <label class='checkbox'>
        <%= check_box_tag "setting[#{s.id}][value]", 'true', s.value == 'true' %>
        <%= t(".#{s.name}") %>
      </label>
      <%= hidden_field_tag "setting[#{s.id}][name]", s.name %>
      <%= hidden_field_tag "setting[#{s.id}][value]", 'false' %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Salvar', :class => 'btn btn-primary' %>
  </div>

<% end %>
