<%= simple_form_for([:admin, @ip], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= render 'shared/form_errors', :f => f %>


  <div class="control-group">
    <span class="control-label">Endereço</span>
    <div class="controls form-inline">
      <input name="ip[ip]" type="text" class="input-medium" placeholder="200.123.XXX.XXX">
      /
      <input name="ip[cidr]" type="text" class="input-small" placeholder="XX" id="xx" maxlength="2">
      <span class="help-block">ex: 192.168.100.100 / 28</span>
    </div>
  </div>

  <%= f.input :description, :input_html => { :rows => 3, :cols => 30 } %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('back'), admin_ips_path, :class => 'btn pull-right' %>
  </div>
<% end %>
