<%= simple_form_for([:admin, @ip], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= render 'shared/form_errors', :f => f %>

  <%= f.input :ip %>
  <%= f.input :cidr %>
  <%= f.input :description, :input_html => { :rows => 3 } %>

  <div class="form-actions">
    <%= f.submit :class => 'btn-primary' %>
    <%= link_to t('back'), admin_ips_path, :class => 'btn pull-right' %>
  </div>
<% end %>
