<h1><%= t('.title') %></h1>

<table class="table table-striped dblclick">
  <tr>
    <th><%= t('ip', :scope => 'activerecord.attributes.ip') %></th>
    <th><%= t('description', :scope => 'activerecord.attributes.ip') %></th>
    <th colspan="2"><%= t('actions', :scope => 'application') %></th>
  </tr>

<% @ips.each do |ip| %>
  <tr data-url="<%= edit_admin_ip_path(ip) %>" style="cursor: pointer">
    <td><%= "#{ip.ip}/#{ip.cidr}" %></td>
    <td><%= ip.description %></td>
    <td><%= link_to t('destroy', :scope => 'application'),
                    [:admin, ip], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to t('.new'), new_admin_ip_path %>
