<%= simple_form_for([:admin, current_project, @repository], html: { class: 'form-horizontal'}) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <% if @repository.new_record? %>
    <%= f.input :name %>
    <%= f.input :url %>
  <% end %>

  <%= f.input :login %>
  <%= f.input :password %>
  <%= f.input :enable_autoupdate %>

  <% if current_user.admin? && @repository.persisted? %>
    Script para hook de autoupdate
    <pre>
Post: curl -d id=<%= @repository.to_param %> -d project_id=<%= current_project.to_param %> -d version=$2 <%= root_url %>autoupdate
Get: curl <%= root_url %>autoupdate?id=<%= @repository.to_param %>&project_id=<%= current_project.to_param %>&version=$2
    </pre>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('back'), current_project, class: 'btn pull-right' %>
  </div>
<% end %>
