<h1>Listing admin_projects_repositories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Versão</th>
    <th>Enable autoupdate</th>
    <th>Autoupdate login</th>
    <th>Autoupdate password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= repository.name %></td>
    <td><%= repository.url %></td>
    <td><%= repository.url %></td>
    <td><%= repository.revision %></td>
    <td><%= repository.autoupdate_login %></td>
    <td><%= repository.autoupdate_password %></td>
    <td><%= link_to 'Show', [:admin, current_project, repository] %></td>
    <td><%= link_to 'Edit', edit_admin_project_repository_path(current_project, repository) %></td>
    <td><%= link_to 'Destroy', [:admin, current_project, repository], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repository', new_admin_project_repository_path %>
