<p>
  <b>Projeto:</b>
  <%= link_to current_project.name, [:admin, current_project] %>
</p>

<p>
  <b>Nome:</b>
  <%= @repository.name %>
</p>

<p>
  <b>Url:</b>
  <%= @repository.url %>
</p>

<p>
  <b>Revisão:</b>
  <%= @repository.revision %>
</p>

<p>
  <b>Login:</b>
  <%= @repository.login %>
</p>

<p>
  <b>Autoupdate:</b>
  <%= @repository.enable_autoupdate ? 'ON' : 'OFF' %>
</p>


<%= link_to t('application.edit'), edit_admin_project_repository_path(current_project, @repository) %> |
<%= link_to t('back'), admin_project_repositories_path %>
