<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>Password confirmation</th>
    <th>Admin</th>
    <th>Rele</th>
    <th>Ip block</th>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
    <th>Login type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.password %></td>
    <td><%= user.password_confirmation %></td>
    <td><%= user.admin %></td>
    <td><%= user.role_id %></td>
    <td><%= user.ip_block %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.active %></td>
    <td><%= user.login_type %></td>
    <td><%= link_to 'Show', [:admin, user] %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', [:admin, user], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
