<li class="nav-header">Menu</li>
<% if current_user %>
  <%= content_tag :li,
    link_to(icon('off')  + t('.logout'),
    logout_path,
    :method => :delete) %>
  <%= content_tag :li,
    link_to(icon('edit') + t('.editaccount'), editaccount_path),
    class: current_page?(editaccount_path) ? 'active' : '' %>
<% else %>
  <%= content_tag :li,
    link_to(icon('pencil')  + t('.register'),
    new_user_path),
    class: current_page?(new_user_path) ? 'active' : '' if Setting.find_or_default('allow_register').value == 'true' %>
  <%= content_tag :li,
    link_to(icon('refresh') + t('.login'), login_path),
    class: current_page?(login_path) ? 'active' : '' %>
<% end %>

<%= content_tag :li,
  link_to(icon('folder-close') + t('.projects'), projects_path),
  class: current_page?(projects_path) ? 'active' : '' if can?('index', 'projects') %>

<%= content_tag :li, t('.admin'), :class => 'nav-header' if can?('view', 'admin') %>
<%= admin_menu('projects',  admin_projects_path, icon('folder-close')) %>
<%= admin_menu('users',     admin_users_path, icon('user')) %>
<%= admin_menu('ips',       admin_ips_path, icon('filter')) %>
<%= admin_menu('logs',      admin_logs_path, icon('book')) %>
<%= admin_menu('roles',     admin_roles_path, icon('list-alt')) %>
<%= admin_menu('settings',  admin_settings_path, icon('cog')) %>
