<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Cranelift</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" style="margin-top: 1em">
    <div class="row">
      <div class="span3">
        <div class="well sidebar-nav" style="padding: 8px 0;">

          <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <% if current_user %>
              <%= content_tag :li, link_to(icon('off')  + t('.logout'), logout_path, :method => :delete) %>
              <%= content_tag :li, link_to(icon('edit') + t('.editaccount'), editaccount_path) %>
            <% else %>
              <%= content_tag :li, link_to(icon('pencil')  + t('.register'), new_user_path) if setting(:allow_register) == 'true' %>
              <%= content_tag :li, link_to(icon('refresh') + t('.login'), login_path) %>
            <% end %>
            
            <%= content_tag :li, link_to(icon('home')         + t('.home'), home_path) %>
            <%= content_tag :li, link_to(icon('folder-close') + t('.projects'), projects_path) if can?('view', 'projects') %>
            <%= content_tag :li, link_to(icon('user')         + t('.users'), users_path) if can?('view', 'users') %>

            <%= content_tag :li, t('.admin'),
              :class => 'nav-header' if can?('view', 'admin') %>
            <%= admin_menu('projects',  admin_projects_path, icon('folder-close')) %>
            <%= admin_menu('users',     admin_users_path, icon('user')) %>
            <%= admin_menu('ips',       admin_ips_path, icon('filter')) %>
            <%= admin_menu('logs',      admin_logs_path, icon('book')) %>
            <%= admin_menu('roles',     admin_roles_path, icon('list-alt')) %>
            <%= admin_menu('settings',  admin_settings_path, icon('cog')) %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->

      <div class="span9 content">
        <div class="messages">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          <% end %>
        </div>
        
        <%= yield %>
      </div><!--/span-->

    </div><!--/row-->
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
</body>
</html>
