<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>

    <div class="row">
      <div class="span8 offset2 content top-line">
        <div class="messages">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          <% end %>
        </div>
        
        <%= yield %>
      </div><!--/span-->

    </div><!--/row-->
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
</body>
</html>
