<!doctype html>
<html lang="pt-BR">
  <head>
    <title>cranelift</title>
    <%= stylesheet_link_tag "session", media: "all" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row" id="header">
        <%= image_tag "logo.png" %>
      </div>

      <div class="row" id="content">
        <div class="box">
          <div class="alerts">
            <% flash.each do |name, msg| %>
              <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
              </div>
            <% end %>
          </div>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>

      <div class="row" id="footer">
        CRANELIFT<br />
        © 2013 UFG
      </div>
    </div>

    <%= javascript_include_tag "session" %>
  </body>
</html>
